<body>
    <%- layout("./layouts/boilerplate.ejs") %>
        <div class="mt-5">
            <h4 class="ms-3"><b>Popular Products</b></h4>
            <div class="row row-cols-1 row-cols-md-4 g-3 p-3 ">
                <% for(product of Products){ %>
                    <div class="col shadow-lg mb-0 p-3 bg-body-tertiary">
                        <div class="card">
                            <a href="/Products/<%= product._id %>"><img src="<%= product.image %>" class="card-img-top" style="height: 22rem;" alt="..."></a>
                            <div class="card-body">
                                <p class="brandName mb-0"><b><%= product.brandName %></b></p>
                                <h5 class="card-title">
                                    <%= product.productTitle %>
                                </h5>
                                <p class="card-text">&#8377; <%= product.price.toLocaleString("en-IN") %>&nbsp;
                                        <s class="disPrice">&#8377;<%= product.discount.disPrice %></s>&nbsp;
                                        <span class="off"><%= product.discount.offPer %>% off</span></p>
                                <p><span class="size"><b>Size</b></span>
                                    <%= product.size.toUpperCase() %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>


</body>

</html>