<%- layout("./layouts/template.ejs")%>
  <div class="mt-2 bg-body-tertiary row mb-2 rounded">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mt-2">
        <li class="breadcrumb-item"><a href="/easykart">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Product show</li>
      </ol>
    </nav>
    <div class="col-sm-5 mb-3 mt-2">
      <div class="card card-show rounded">
        <img src="<%= Products.image.url %>" class="card-img-top" alt="...">
        <div class="card-img-overlay rounded">
          <button class="btn heart"><i class="bi bi-heart"></i></button>
        </div>
      </div>
      <div class="mt-4">
        <button class="buy"><i class="bi bi-fire"></i> <a href="#">Buy now</a></button>
        <button class="cart"><i class="fa-solid fa-cart-plus"></i> <a href="#">Add to cart</a></button>
      </div>
    </div>
    <div class="col-sm-2 col-md-4 mt-5">
      <div class="row">
        <div class="">
          <p class="brandName mb-0"><b>
              <%= Products.brandName %>
            </b></p>
          <h5 class="card-title pr-show">
            <%= Products.productTitle %>
          </h5>
          <p class="special-price">Special price</p>
          <p class="card-text">&#8377; <%= Products.price.toLocaleString("en-IN") %>&nbsp;
              <s class="disPrice">&#8377;<%= Products.discount.disPrice %></s>&nbsp;
              <span class="off">
                <%= Products.discount.offPer %>% off
              </span></p>
          <p><span class="size"><b>Size</b></span>
            <%= Products.size.toUpperCase() %>
        </div>
        <hr>
        <div>
        </div>
      </div>
    </div>

  </div>