<%- layout("./layouts/template.ejs")%>
  <div class="mt-2 bg-body-tertiary row mb-2 rounded">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mt-2">
        <li class="breadcrumb-item"><a href="/easykart">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Product show</li>
      </ol>
    </nav>
    <div class="col-sm-5 mb-3 mt-2">
      <div class="card card-show rounded">
        <img src="<%= Products.image.url %>" class="card-img-top" alt="...">
        <div class="card-img-overlay rounded">
          <button class="btn heart"><i class="bi bi-heart"></i></button>
        </div>
      </div>
      <div class="mt-4">
        <button class="buy"><i class="bi bi-fire"></i> <a href="#">Buy now</a></button>
        <button class="cart"><i class="fa-solid fa-cart-plus"></i> <a href="#">Add to cart</a></button>
      </div>
    </div>
    <div class="col-sm-2 col-md-4 mt-5">
      <div class="row">
        <div class="">
          <p class="brandName mb-0"><b>
              <%= Products.brandName %>
            </b></p>
          <h5 class="card-title pr-show">
            <%= Products.productTitle %>
          </h5>
          <p class="special-price">Special price</p>
          <p class="card-text">&#8377; <%= Products.price.toLocaleString("en-IN") %>&nbsp;
              <s class="disPrice">&#8377;<%= Products.discount.disPrice %></s>&nbsp;
              <span class="off">
                <%= Products.discount.offPer %>% off
              </span></p>
          <p><span class="size"><b>Size</b></span>
            <%= Products.size.toUpperCase() %>
        </div>
        <hr>
        <div>
        </div>
      </div>
    </div>
    <p class="d-inline-flex gap-5 border-bottom border-success">
      <a class="btn s-btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample ac">
        Product Details
      </a>
      <button class="btn s-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInfo"
        aria-expanded="false" aria-controls="collapseInfo">
        Information
      </button>
      <button class="btn s-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Reviews
      </button>
      <button class="btn s-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Seller
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body s-info">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>
    <div class="collapse" id="collapseInfo">
      <div class="card card-body s-info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, tellus iaculis urna bibendum in lacus, integer.
        Id imperdiet vitae varius sed magnis eu nisi nunc sit. Vel, varius habitant ornare ac rhoncus. Consequat risus
        facilisis ante ipsum netus risus adipiscing sagittis sed. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit.
      </div>
    </div>

    <div class="dropdown-center">
      <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Centered dropdown
      </button>
      <div class="dropdown-menu card card-body">
        <h1>Nutrient Value & Benefits</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, tellus iaculis urna bibendum in lacus, integer.
        Id imperdiet vitae varius sed magnis eu nisi nunc sit. Vel, varius habitant ornare ac rhoncus. Consequat risus
        facilisis ante ipsum netus risus adipiscing sagittis sed. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit.</p>

        <h1>Storage Tips</h1>
        <p>Nisi, tellus iaculis urna bibendum in lacus, integer. Id imperdiet vitae varius sed magnis eu nisi nunc sit.
        Vel, varius habitant ornare ac rhoncus. Consequat risus facilisis ante ipsum netus risus adipiscing sagittis
        sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h5>Unit</h5>
        <p>3 units</p>

        <h6>Seller</h6>
        <p>DMart Pvt. LTD</p>

        <h5>Disclaimer</h5>
        <p>Image shown is a representation and may slightly vary from the actual product. Every effort is made to maintain
        accuracy of all information displayed.</p>
      </div>
    </div>
  </div>